#probaj{
  margin-top: 72px;
}
.carousel-item {
     height: 65vh;
     min-height: 350px;
     background: no-repeat center center scroll;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }

div.col-sm-4{
     padding-bottom: 3%;
     padding-right: 1%;
}

div.col-sm-4:hover{
     transition: transform 0.7s;
     transform: scale(1.1);
 }

 .header-dark {
     background:url('../../assets/pozadina1.png');
     background-size:cover;
     padding-bottom:80px;
   }
   
   @media (min-width:768px) {
     .header-dark {
       padding-bottom:120px;
     }
   }
   
   .header-dark .navbar {
     background:transparent;
     padding-top:0;
     padding-bottom:0;
     color:#fff;
     border-radius:0;
     box-shadow:none;
     border:none;
   }
   
   @media (min-width:768px) {
     .header-dark .navbar {
       padding-top:.75rem;
       padding-bottom:.75rem;
     }
   }
   
   .header-dark .navbar .navbar-brand {
     font-weight:bold;
     color:inherit;
   }
   
   .header-dark .navbar .navbar-brand:hover {
     color:#f0f0f0;
   }
   
   .header-dark .navbar .navbar-collapse span {
     margin-top:5px;
   }
   
   .header-dark .navbar .navbar-collapse span .login {
     color:#d9d9d9;
     margin-right:.5rem;
     text-decoration:none;
   }
   
   .header-dark .navbar .navbar-collapse span .login:hover {
     color:#fff;
   }
   
   .header-dark .navbar .navbar-toggler {
     border-color:#747474;
   }
   
   .header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
     background:none;
   }
   
   .header-dark .navbar .navbar-toggler {
     color:#eee;
   }
   
   .header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
     border-color:#636363;
   }
   
   @media (min-width: 992px) {
     .header-dark .navbar.navbar .navbar-nav .nav-link {
       padding-left:1.2rem;
       padding-right:1.2rem;
     }
   }
   
   .header-dark .navbar.navbar-dark .navbar-nav .nav-link {
     color:#d9d9d9;
   }
   
   .header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
     color:#fcfeff !important;
     background-color:transparent;
   }
   
   .header-dark .navbar .navbar-nav > li > .dropdown-menu {
     margin-top:-5px;
     box-shadow:0 4px 8px rgba(0,0,0,.1);
     background-color:#fff;
     border-radius:2px;
   }
   
   .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
     line-height:2;
     font-size:14px;
     color:#37434d;
   }
   
   .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
     background:#ebeff1;
   }
   
   .header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
     background:#208f8f;
     border-radius:20px;
     font-size:inherit;
     color:#fff;
     box-shadow:none;
     border:none;
     text-shadow:none;
     padding:.5rem .8rem;
     transition:background-color 0.25s;
   }
   
   .header-dark .navbar .action-button:hover {
     background:#269d9d;
   }
   
   .header-dark .navbar .form-inline label {
     color:#ccc;
   }
   
   .header-dark .navbar .form-inline .search-field {
     display:inline-block;
     width:80%;
     background:none;
     border:none;
     border-bottom:1px solid transparent;
     border-radius:0;
     color:#ccc;
     box-shadow:none;
     color:inherit;
     transition:border-bottom-color 0.3s;
   }
   
   .header-dark .navbar .form-inline .search-field:focus {
     border-bottom:1px solid #ccc;
   }
   
   .header-dark .hero {
     margin-top:60px;
   }
   
   @media (min-width:768px) {
     .header-dark .hero {
       margin-top:20px;
     }
   }
   
   .header-dark .hero h1 {
     color:#fff;
     font-family:'Bitter', serif;
     font-size:40px;
     margin-top:20px;
     margin-bottom:80px;
   }
   
   @media (min-width:768px) {
     .header-dark .hero h1 {
       margin-bottom:50px;
       line-height:1.5;
     }
   }
   
   .header-dark .hero .embed-responsive iframe {
     background-color:#666;
   }
   
   /* h1{
    text-align:center;
    margin-bottom:50px;
    margin-top:50px;
  } */
  a {
    font-family: Roboto;
   }
  .blog-card-blog {
      margin-top: 30px;
  }
  .blog-card {
      display: inline-block;
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.87);
      background: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .blog-card .blog-card-image {
      height: 60%;
      position: relative;
      overflow: hidden;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -30px;
      border-radius: 6px;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .blog-card .blog-card-image img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      pointer-events: none;
  }
  .blog-card .blog-table {
      padding: 15px 30px;
  }
  .blog-table {
      margin-bottom: 0px;
  }
  .blog-category {
      position: relative;
      line-height: 0;
      margin: 15px 0;
  }
  .blog-text-success {
      color: #28a745!important;
  }
  .blog-card-blog .blog-card-caption {
      margin-top: 5px;
  }
  .blog-card-caption {
      font-weight: 700;
      font-family: "Roboto Slab", "Times New Roman", serif;
  }
  .fa {
      display: inline-block;
      font: normal normal normal 14px/1;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .blog-card-caption, .blog-card-caption a {
      color: #333;
      text-decoration: none;
  }
  

  .blog-card .ftr {
      margin-top: 15px;
  }
  .blog-card .ftr .author {
      color: #888;
  }
  
  .blog-card .ftr div {
      display: inline-block;
  }
  .blog-card .author .avatar {
      width: 36px;
      height: 36px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
  }
  .blog-card .ftr .stats {
      position: relative;
      top: 1px;
      font-size: 14px;
  }
  .blog-card .ftr .stats {
      float: right;
      line-height: 30px;
  }

  .text-custom{
    color: #28a745 !important;
    }