<head>
  <meta charset="utf-8">
  <title>Mirina fabrika dekora</title>
  <base href=/>
  <meta name="description" content="Tu smo da zajedno kreiramo vaše uspomene!">
</head>
<div id="probaj">
  <div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../../assets/images/Carousel/1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">1. rođendani</h3>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../assets/images/Carousel/2.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">Venčanja</h3>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../assets/images/Carousel/3.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">18. rođendani</h3>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Prethodna</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Sledeca</span>
      </a>
    </div>
  </div>

  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="font-weight-light">Mirina Fabrika Dekora</h1>
      <p class="lead">Tu smo da zajedno kreiramo vaše uspomene!</p>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="../../assets/images/cards/vencanje.jpg"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> Venčanja</h6>
            <h4 class="blog-card-caption">
              <a [routerLink]="'/gallery/2'" (click)="scrollToTop()">Svaka devojka mašta i sanja o svom venčanju</a>
            </h4>
            <p class="blog-card-description">Dopustite da naš kreativni tim vaše snove pretvori u stvarnost. <br><br>
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="../../assets/images/cards/prvirodj.jpg"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> 1. rođendani</h6>
            <h4 class="blog-card-caption">
              <a [routerLink]="'/gallery/1'" (click)="scrollToTop()">Prvi rođendan je poziv za zabavu</a>
            </h4>
            <p class="blog-card-description">Uz našu pomoć, vaša zabava će biti pretvorena u pravu bajku koje ćete se zauvek sećati.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="../../assets/images/cards/osamnaestirodj.jpg"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> 18. rođendani</h6>
            <h4 class="blog-card-caption">
              <a [routerLink]="'/gallery/0'" (click)="scrollToTop()">Mladima je osamnaesti rođendan jako bitan</a>
            </h4>
            <p class="blog-card-description">Mi smo tu da osiguramo da njihov rođendan bude jedinstven i poseban. <br><br>
            </p>

          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>

  <header>
    <div class="overlay">
    </div>
  </header>

  <div class="container">
    <br>
    <br>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-6">
            <div class="row">
              <div class="col-lg-12 col-md-12 mt-4 pt-2">
                <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                  <img src="../../assets/images/pocetna/1.jpg" class="img-fluid" alt="Image" />
                  <div class="img-overlay bg-dark"></div>
                </div>
              </div>


              <div class="col-12">
                <div class="mt-4 pt-2 text-right">
                  <a href="javascript:void(0)" class="btn btn-info" style="background-color: #28a745;"
                    [routerLink]="'/about'" (click)="scrollToTop()">Više o nama <i class="mdi mdi-chevron-right"></i></a>
                </div>
              </div>
            </div>

          </div>


          <div class="col-lg-6 col-md-6 col-6">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                  <img src="../../assets/images/pocetna/2.jpg" class="img-fluid" alt="Image" />
                  <div class="img-overlay bg-dark"></div>
                </div>
              </div>


              <div class="col-lg-12 col-md-12 mt-4 pt-2">
                <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                  <img src="../../assets/images/pocetna/3.jpg" class="img-fluid" alt="Image" />
                  <div class="img-overlay bg-dark"></div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>


      <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
        <div class="section-title ml-lg-5">
          <h5 class="text-custom font-weight-normal mb-3">O nama</h5>
          <h4 class="title mb-4" id="misija">
            Naša misija je da obezbedimo lepu i adekvatnu dekoraciju kako bi vaše srećne dane učinili još lepšim!
          </h4>
          <p class="text-muted mb-0"></p>

          <div class="row">
            <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/nO9_1CDQ2tA" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe></div>
            </div>
            <!-- <div class="col-lg-6 mt-4 pt-2">
              <div class="media align-items-center rounded shadow p-3">
                <i class="fa fa-play h4 mb-0 text-custom"></i>
                <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark">Preciznost</a></h6>
              </div>
            </div>
            <div class="col-lg-6 mt-4 pt-2">
              <div class="media align-items-center rounded shadow p-3">
                <i class="fa fa-tasks h4 mb-0 text-custom"></i>
                <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark">Odgovornost</a></h6>
              </div>
            </div>
            <div class="col-lg-6 mt-4 pt-2">
              <div class="media align-items-center rounded shadow p-3">
                <i class="fa fa-tachometer h4 mb-0 text-custom"></i>
                <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark">Brzina</a></h6>
              </div>
            </div>
            <div class="col-lg-6 mt-4 pt-2">
              <div class="media align-items-center rounded shadow p-3">
                <i class="fa fa-lock h4 mb-0 text-custom"></i>
                <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark">Sigurnost</a></h6>
              </div>
            </div> -->
          <!-- </div> -->
        </div>
      </div>

    </div>

    <br>
    <br>
  </div>



  <div>
    <div class="header-dark">
      <div class="container hero">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Posetite i naš Youtube nalog.</h1>
            <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/qHyk7x6j_mw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>