<div id="probaj">
  <div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../../assets/images/Carousel/1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">18. rodjendani</h3>
            <p class="lead">Ulepsajte svoje punoletstvo uz nas.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../assets/images/Carousel/2.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">Vencanja</h3>
            <p class="lead">Tu smo da Vam ulepsamo proslavu braka.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../assets/images/Carousel/3.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">1. rodjendani</h3>
            <p class="lead">Da Vas najznacajniji dan ucinimo jos lepsim.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Prethodna</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Sledeca</span>
      </a>
    </div>
  </div>

  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="font-weight-light">Mirina Fabrika Dekora</h1>
      <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images in
        this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="../../assets/images/cards/vencanje.jpg"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> Proslave</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="../../assets/images/cards/prvirodj.jpg"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> Veselja</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <a href="#"> <img class="img" src="../../assets/images/cards/osamnaestirodj.jpg"> </a>
            <div class="ripple-cont"></div>
          </div>
          <div class="blog-table">
            <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> Slavlja</h6>
            <h4 class="blog-card-caption">
              <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
            </h4>
            <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="header-dark">
      <div class="container hero">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h1 class="text-center">The Truth is out there.</h1>
            <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/qHyk7x6j_mw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>