<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white py-3 shadow-sm">
  <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none">Mirina Fabrika Dekora</a>
  <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
      </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Pocetna</a></li>
      <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle nav-link font-weight-bold text-uppercase" data-toggle="dropdown" aria-expanded="false" href="#">Galerija </a>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">18.rodjendani</a><a class="dropdown-item" role="presentation" href="#">1.rodjendani</a><a class="dropdown-item" role="presentation" href="#">Vencanja</a></div>
    </li>
      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase" [routerLink]="'/about'">O nama</a></li>
      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Usluge</a></li>
      <li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Kontakt</a></li>
    </ul>
  </div>
</nav>