<header>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="../../assets/pozadinakontakt.jpg" alt="">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line"></div>
                        <h2>Kontakt</h2>
                        <h1>Mirina Fabrika Dekora</h1>
                    </div>
                </div>
             </div>
        </div>                    
    </div>
    <br>
    <br>
</header>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-clock-o  fa-3x text-colored"></i>
            <h4>Radno vreme</h4>
            <p title="Phone">Radnim danima: 09-17h<br>
                Subotom: 09-17h<br>
                Nedeljom: ne radimo</p>
          </div>
        </div><!-- end col -->

        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-map-marker fa-3x text-colored"></i>
            <h4>Nasa lokacija</h4>

            <address>
            Joza Jehlicke 8, stan 1<br>
            Uzice, 31 000<br>
          </address>
          </div>
        </div><!-- end col -->

        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-th fa-3x text-colored"></i>
            <h4>Ostanimo u kontaktu</h4>

            <p title="Phone">Broj: 0643332293</p>
            Email: <a href="mailto:email@email.com" class="text-muted">mira.tasic.11@email.com</a>
          </div>
        </div><!-- end col -->

      </div>
      <!-- end row -->


      <div class="row">
        <div class="col-sm-6">
          <div class="contact-map">
            <iframe src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Zlatiborska, Uzice&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
          </div>
        </div><!-- end col -->

        <!-- Contact form -->
        <div class="col-sm-6">
          <form role="form" name="ajax-form" id="ajax-form" action="https://formsubmit.io/send/tasaa8888@gmail.com" method="post" class="form-main">

            <div class="form-group">
              <label for="name2">Ime i prezime</label>
              <input class="form-control" id="name2" name="name" onblur="if(this.value == '') this.value='Name'" onfocus="if(this.value == 'Name') this.value=''" type="text" value="Ime i prezime">
              <div class="error" id="err-name" style="display: none;">Unesite Vase ime i prezime</div>
            </div> <!-- /Form-name -->

            <div class="form-group">
              <label for="email2">Email</label>
              <input class="form-control" id="email2" name="email" type="text" onfocus="if(this.value == 'E-mail') this.value='';" onblur="if(this.value == '') this.value='E-mail';" value="E-mail">
              <div class="error" id="err-emailvld" style="display: none;">E-mail nije u dobrom formatu</div> 
            </div> <!-- /Form-email -->

            <div class="form-group">
              <label for="message2">Poruka</label>
              <textarea class="form-control" id="message2" name="message" rows="5" onblur="if(this.value == '') this.value='Message'" onfocus="if(this.value == 'Message') this.value=''">Poruka</textarea>

              <div class="error" id="err-message" style="display: none;">Unesite Vasu poruku</div>
            </div> <!-- /col -->

            <div class="row">            
              <div class="col-xs-12">
                <div id="ajaxsuccess" class="text-success">E-mail uspesno poslat.</div>
                <div class="error" id="err-form" style="display: none;">Forma nije ispravno popunjena, pokusajte ponovo!</div>
                <div class="error" id="err-timedout">The connection to the server timed out!</div>
                <div class="error" id="err-state"></div>
                <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Posalji</button>
              </div> <!-- /col -->
            </div> <!-- /row -->

          </form> <!-- /form -->
        </div> <!-- end col -->

      </div> <!-- end row -->
          <br>
          <br>

    </div>


    