<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <a class="navbar-brand" [routerLink]="['/']"><img style="max-width:100px;"
                            src="../../assets/najlogo.png"></a>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Radno vreme</h3>
                    <ul>
                        <li>
                            <p>Radnim danima: 09-17h</p>
                        </li>
                        <li>
                            <p>Subota: 09-17h</p>
                        </li>
                        <li>
                            <p>Nedelja: ne radimo</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Kontakt podaci</h3>
                    <ul>
                        <li>
                            <p>Broj telefona: 0643332293</p>
                        </li>
                        <li>
                            <p>Email: mira.tasic.11@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item item social">
                        <ul class="list-inline mt-4">
                            <li class="list-inline-item"><a
                                    href="https://www.facebook.com/mfabrikadekora/" target="_blank"
                                    title="facebook"><i style="font-size: 30px;" class="fa fa-facebook-square"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/mirina_fabrika_dekora/?hl=sr"
                                    target="_blank" title="instagram"><i style="font-size: 30px;"
                                        class="fa fa-instagram"></i></a>
                        </ul>
                        <p class="copyright">Mirina Fabrika Dekora © 2021</p>

                </div>

            </div>
        </div>
    </footer>
</div>